<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Spring Diary</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="/js/registration.js" defer></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body class="bg">
<div class="container">
    <h1 class="title">Spring Diary</h1>
    <div class="tm-main-content">
        <section class="tm-margin-b-l">
            <div class="col-md-offset-3">
                <div class="jumbotron" align="center" id="registration-box">
                    <h2 class="tm-main-title">Registration</h2>
                    <p id="registration-text">Please fill in this form to create an account. If you already have an account you can <a
                            href="/login">log in</a>. Password should be at least four characters.</p>
                    <form action="#" th:action="@{/registration}" method="post" align="center">

                        <div class="form-group">
                            <label><b>Name</b></label><br>
                            <input type="text" placeholder="Enter Your Username" name="username"
                                   required>
                        </div>

                        <label><b>Password</b></label><br>
                        <input type="password" placeholder="Enter Password" id="password"
                               name="password" required><br><br>

                        <label><b>Confirm Password</b></label><br>
                        <input type="password" placeholder="Confirm Password" id="confirm_password" name="confirm_password"
                               required><br>
                        <span id='message'></span><br/><br/>

                        <button class="btn btn-default" type="submit" id="register_button" disabled>Register</button>
                        <input class="btn btn-default" type="button" value="Cancel" onclick="window.location.href='/'"/>
                    </form>
                </div>
            </div>

        </section>
    </div>
</div>
</body>
</html>